.aboutUsPage{
    display: flex;
    flex-flow: wrap row;
    justify-content: space-around;
    padding: 20px;

}

.aboutUsItem{
    width: 600px;
    background-color: rgb(245, 245, 245);
    padding: 10px;
    border-radius: 20px;
    margin: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.aboutUsTitle{
    display: flex;
    align-items: center;
    font-size: 36px;
}

.aboutUsTitle img{
    width: 200px;
}

.aboutUsLabel{
    padding: 20px;
}

.aboutUsDescription{
    padding: 10px;
    text-align: justify;
}

.aboutUsDescription div{
    padding: 10px;
}

.aboutUsDescription a{
    padding: 20px;
    text-decoration: none;

}

.aboutUsDescription button{
    background-color: greenyellow;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all .5s;
    outline: none;
}

.aboutUsDescription button:active{
    transform: scale(1.2);
}