header{
  padding: 20px 50px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logo{
  margin: 30px;
  box-sizing: border-box;
  background: url(../../../assets/img/logo.png) no-repeat;
  height: 200px;
  width: 200px;
  background-size: contain;
  outline: none;
}

.search{
  margin: 30px 60px;
  padding: 10px;
  height: 50px;
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 10px;
}

.search input[type=search]{
  outline: none;
  border: none;
  flex-basis: 90%;
}

.search button{
  outline: none;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.search button svg{
  color: #9A32AB;
}

.search button:active{
  transform: scale(1.2);
}